/* .navbar,
.navbar * {
    box-sizing: border-box;
}

.navbar {
    width: 1440px;
    height: 96px;
    position: relative;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.rectangle-1 {
    background: #ffffff;
    width: 1440px;
    height: 96px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.frame-8591 {
    display: flex;
    flex-direction: row;
    gap: 342px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 149px;
    top: 13px;
}

.frame-8589 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.larkef-x-rareblocks-_-logo--31-1 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.airtime2cash {
    text-align: left;
    font: 600 32px 'Inter';
    position: relative;
}

.airtime2cash-span {
    color: #de3d6d;
    font: 600 32px 'Inter';
}

.airtime2cash-span2 {
    color: #f5844c;
    font: 600 32px 'Inter';
}

.frame-8590 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 490px;
    position: relative;
}

.home {
    color: #de3d6d;
    text-align: center;
    font: 700 16px 'Inter';
    position: relative;
}

.about-us {
    color: #012a4a;
    text-align: left;
    font: 400 16px 'Inter';
    position: relative;
}

.products {
    color: #012a4a;
    text-align: center;
    font: 400 16px 'Inter';
    position: relative;
}

.contact-us {
    color: #012a4a;
    text-align: center;
    font: 400 16px 'Inter';
    position: relative;
}

.frame-8560 {
    background: linear-gradient(101.31deg, rgba(222, 61, 109, 1.00) 0%, rgba(245, 132, 76, 1.00) 100%);
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100px;
    position: relative;
}

.login {
    color: #ffffff;
    text-align: left;
    font: 600 16px 'Inter';
    position: relative;
} */