.dashboard-form {
    display: flex;
    flex-direction: column;
}

.mt-3 {
    margin-top: 3rem;
}

.backdrop,
.backdrop * {
    box-sizing: border-box;
}

.backdrop {
    background: rgba(222, 61, 109, 0.10);
    width: 100%;
    height: 271px;
    position: relative;
}

.dashboard,
.dashboard * {
    box-sizing: border-box;
}

.dashboard {
    background: transparent;
    height: auto;
    padding-bottom: 200px !important
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    justify-content: flex-start;
    /* position: absolute; */
    left: 347px;
    top: 184px;
}

.dashboard-card-padding {
    background: #ffffff;
    display: flex;
    /* flex-direction: column; */
    /* gap: 40px; */
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
}

.dashboard-box {
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    /* align-items: center; */
}

.dashboard-heading-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    color: #012A4A;
}

.frame-8589 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.larkef-x-rareblocks-_-logo--31-1 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.airtime2cash {
    text-align: left;
    font: 600 16px 'Inter';
    position: relative;
}

.airtime2cash-span {
    color: #de3d6d;
    font: 600 16px 'Inter';
}

.airtime2cash-span2 {
    color: #f5844c;
    font: 600 16px 'Inter';
}

.frame-8558 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.wallet-section,
.wallet-section * {
    box-sizing: border-box;
}

.wallet-section {
    background: #de3d6d;
    border-radius: 24px;
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

.wallet-card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.wallet-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.wallet-balance {
    color: #ffffff;
    text-align: left;
    font: 400 16px 'Inter';
    position: relative;
}

.wallet-balance-amount {
    color: #ffffff;
    text-align: left;
    font: 700 32px 'Inter';
    position: relative;
}

.account-status {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    border: solid rgba(0, 0, 0, 0.04);
    border-width: 1px;
    opacity: 0.800000011920929;
    padding: 8px 10px 8px 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.account-is-active {
    color: #ffffff;
    text-align: left;
    font: 400 10px 'Inter';
    position: relative;
}

.nav-tabs .nav-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #012A4A;
    padding-left: 0px;
    padding-right: 0px;
    width: auto !important;
}

.nav-tabs .nav-item {
    flex: none;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 0px;
    --bs-nav-tabs-border-color: transparent;
    --bs-nav-tabs-border-radius: 0px;
    --bs-nav-tabs-link-hover-border-color: transparent;
    --bs-nav-tabs-link-active-color: #495057;
    --bs-nav-tabs-link-active-bg: #transparent;
    --bs-nav-tabs-link-active-border-color: transparent;
    border-bottom: none;
}

.nav-tabs .nav-link.active {
    border-bottom: 1px solid #DE3D6D;
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.nav-tabs .nav-link {}

.heading-with-arrow {
    display: flex;
    flex-direction: row;
}


/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .dashboard {
        background: transparent;
    }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .dashboard {
        background: #f5f5f5;

    }

    .dashboard-heading-text {
        font-size: 32px;
    }


    /* height: 1500px; */

    .dashboard-card-padding {
        margin-top: -200px;
    }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav-tabs {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}